body {
  background-color: #FFF;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

.content {
  top: 80px
}

/* Nav bar */

header {
  background-color: #5943cb;
  position: fixed;
  width: 100%;
  z-index: 10;
}

header ul {
  margin: 30px auto;
  padding: 0 20px;
  text-align: center;
}

header li {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  width: 100px;
  letter-spacing: 3px;
}

header a {
  color: #FFF;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: #ffff00;
}

/* Nav bar end */

/* Welcome div */

.welcome {
  background-color: #5943cb;
  text-align: center;
  height: 800px;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.welcome h1 {
  color: white;
  font-family: 'Patua One', sans-serif;
  letter-spacing: 2px;
  font-size: 50px;
}

.welcome strong {
  color: yellow;
}

.welcome .spacer {
  height: 100px;
}

.welcome i {
  color: white;
}

.welcome i:hover {
  color: yellow;
}

/* Welcome div end */

/* about-me div */

.about-me ul {
  padding: 75px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.about-me li {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: 300;
  width: 500px;
  position: relative;
  display: block;
  text-align: center;
}

.about-me a {

}

.about-me img {
  width: 70%;
  height: 70%;
}

.about-me img:hover {
  transform: scale(1.01);
}

/* about-me div end */


/* projects div */

.projects {
  width: 100%;
  height: 100%;
  margin: 75px 0px;
}

.projects ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects li {
  padding: 0px 40px;
  display: inline-block;

}

.projects p {
}

.projects img {
  width: 500px;
  height: 230px;
  box-shadow: rgba(89, 67, 203, 1)  -10px 10px;
}
/* projects div end */


/* contact div */

.contact {
  text-align: center;
  padding-bottom: 75px;
}

.contact .box {
  width: 200px;
  height: 350px;
  display:inline-block;
  border-radius: 10px;
  margin: 16px 30px;
  background-color: #eeeeee;
  vertical-align: top;
  padding: 10px 10px;
  text-align: center;
}

.contact .img_circle {
  padding-top: 10px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.contact img {
  position: relative;
  border-radius: 10%;
  max-width: 100%;
  max-height: 100%;
  height: 100px;
}

.contact img:hover {
  transform: scale(1.01);
}

.contact p {
  font-size: 16px;
  text-overflow: clip;
  padding-bottom: 20px;
  padding-left: 2px;
  padding-right: 2px;
}

.contact #box1{
}

.contact #box2{
}

.contact #box3 {

}

.contact a {
  text-decoration: none;
  color: #5943cb;
}

/* contact div end */

h2 {
  color: #333;
  font-family: 'Varela Round', sans-serif;
  font-size: 26px;
  font-weight: 100;
  margin: 0 auto 20px auto;
}

h3 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

h4 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase
}

h6 {
  color: #466995;
  font-family: 'Varela Round', sans-serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
}

p {
  color: #333;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
}

footer {
  background-color: #101029;
  text-align: center;
  height: 100px;
}
