* {
  margin: 0;
  height: 100%;
  width:100%;
}

.homepage-header {
  height: 100%;
  background-image: url('Beach-Timeline.svg');
  background-size: cover;
}

.homepage-outwith-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-content {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  background-color: #F5F5EF;
  height: 150px;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.homepage-content img {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  margin-left: 75px;
}

#homepage-img {
  width: 100px;
  height: 100px;
}
